<html>
    <head>
        <title>Rajkumar</title>
        <style>
        /*this is a stylesheet i will use in index.html tamplete */
            h1{
                font-size: larger;
                background-color: red;
                text-align: center;
            }
            p{
                text-align: center;

            }
            .box{
                border-style: solid;
                border-width: 5px;
            }
        </style>
    </head>
<body>
    <h1>THIS IS A DEMO PROJECT AND DONE BY THE RAJKUMAR</h1>
    <div class="box">
        <p><b>HOW TO USE</b></p>
        <p> STEP 1: GO TO https://bankdetailsraaj.herokuapp.com/bank</p>
        <p><b>Exp: https://bankdetailsraaj.herokuapp.com/bank?ifsc=yourifsccode </b></p>
        <p>STEP 2: send the get request with following param</p>
        <p> param: name,city :get all bank detals by bank name and city </p>
        <p><b>Exp: https://bankdetailsraaj.herokuapp.com/bank?name=yourbankname&city=yourbankcity</b></p>
    </div>  
</body>
</html>